body{
    background-color: black;
}

.box{
    width: 20%;
    height: auto;
    border: 2px groove blue;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 13%;
    margin-left: 37.5%;
    flex-wrap: wrap;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.button{
    margin: 15px;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    padding: 5px;
    background-color: black;
    color: red;
    border-radius: 10px;
}